@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="pin-container">

    @foreach (var item in Model.Photos) {
        string imagePath = "/photos/" + item.FileName;

        <div class="pin-box">
            <img src="@imagePath" class="mb-2">
        </div>
    }

</div>