@page
@model ReSplash.Pages.Photos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete this?</h1>

<p>
    IMAGE GOES HERE
</p>

<form method="post">
    <input type="hidden" asp-for="Photo.PhotoId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> &nbsp;&nbsp;
    <a asp-page="./Index" class="btn btn-outline-dark">Cancel</a>
</form>
